#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  
    font-weight: normal;
  }
  
@media (min-width: 1024px) {
    body {
      display: flex;
      place-items: center;
    }

    main {
        border-bottom: solid 1px black;
        border-top: solid 1px black;
    }
}